header {
    background-color: black;
    text-align: center;
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 0.5px;
    margin: 2px;
    /* border-radius: 50%; */
}

body {
    background-color: rgb(240, 240, 226);
}

form {
    max-width: 700px;
    text-align: center;
    background-color: aliceblue;
    margin: auto;
    box-shadow: 2px 2px 3px #888;
}


/* visibility hidden / Opacity (0-1)
display none , visibility display */


/* hidden - block ke bahar jata toh overflow hidden
or auto - for scroll 
conditions for overflow */

form input[type=text],
form select {
    font-size: 15px;
    width: 100%;
    padding: 4px 7px;
    margin: 5px 0;
    box-sizing: border-box;
}

form input[type=submit] {
    background-color: lightgreen;
    color: black;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    margin: 10px 20px 10px 20px;
}

#ticket {
    text-align: center;
    font-size: medium;
    border: dashed thin crimson;
    width: 30%;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: large;
}

form input[type=button] {
    text-align: center;
    width: 50%;
    margin: 2px;
    padding: 1px 3px;
    color: black;
    background-color: rgb(55, 154, 55);
    font-size: large;
}

footer {
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bold;
    margin: 3%;
    padding: 1%;
    background-color: rgb(249, 251, 159);
}